.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: #f8f6fc;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 40px;
    color: #222;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #555;
    text-align: center;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin-top: 45px;
  }
  
  .category {
    background: white;
    padding: 25px;
    border-radius: 15px;
    border: 3px solid #ddd;
    width: 25%;
    text-align: left;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .categoryHeader {
    display: flex;
    align-items: center;
    justify-content: top;
    gap: 8px;
    margin-top: -10px;
  }
  
  .checkbox {
    width: 18px;
    height: 18px;
  }
  
  .categoryTitle {
    font-size: 1.6rem;
    font-weight: bold;
    color: #222;
  }
  
  .categoryDesc {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.9rem;    
    margin-right: 400px;
  }
  
  .generateButton {
    background: #d391d7;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 45px;
  }
  
  .generateButton:hover {
    background: #b36bb3;
  }
  
  .divider {
    width: 80%;
    border: 0;
    border-top: 1px solid #bbb;
    margin: 45px 0;
  }
  
  .randomText {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .randomButton {
    background: #d391d7;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .randomButton:hover {
    background: #b36bb3;
  }
  
  .backButton {
    position: absolute;
    top: 35px;
    left: 35px;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .backButton:hover {
    color: #000;
  }
  